<template>
    <layout>
        <p>This is our contact page: {{ foo }}</p>
    </layout>
</template>

<script>
import Layout from "../Shared/Layout";

export default {
    props: ["foo"],
    components: {
        Layout
    }
};
</script>
